@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&display=swap');

* {
  margin: 10;
  padding: 10;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.data-table{
  max-width: 100%;
  flex-basis: 100%;
}

a {
  text-decoration: none;
  color: gold;
}

.exTitle {
  text-align: center;
  padding: -25;
}
/* this works perfect for phones
.even-columns {
  display: flex;
  flex-basis: 100%;
  text-align: center;
  padding: 5;
} */

.even-columns {
  display: flex;
  margin-bottom: -2%;
  margin-top: -2%;
}
.even-columns > * {
  flex-basis: 100%;
  text-align: center;
  padding: 5px;
}

.even-columnsT {
  display: flex;
  padding-bottom: -23%;
}
.even-columnsT > * {
  flex-basis: 100%;
  text-align: center;
  padding-bottom: -22%;
}


.cexBox{
  padding: -25;
  padding-bottom: -500;
  margin-top: -10%;
}

